.space{
    display: flex;
    justify-content: space-between;
  }

.header-bg{
    background-color: rgba(255, 241, 232, 1);
}
.nav-bg{
    background-color: rgba(202, 239, 70, 1) !important;
}
.mainBody-bg{
    background-color: rgba(10, 10, 10, 1);
}
.card-bg-color{
    background-color: rgba(202, 239, 70, 1);
}
.card-5{
    background-color: #FFF1E8;;
}
.footer{
    background-color: #000000;
}
.white-bg{
    background-color: #FFF1E8;
}


